<a href="https://colab.research.google.com/github/AlekseiMikhalev/Data-Science-Projects/blob/master/ULMFiT_Twitter%20Sentiment%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This notebook has been created for participation in Fellowship.ai challenge.

In [0]:
# Environment setup. Importing the libraries.
import re
from functools import partial
from collections import Counter
import string
import pandas as pd
import nltk 
from nltk.corpus import wordnet
from fastai.text import *
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import pandas
from sklearn.model_selection import train_test_split
import numpy

Importing dataset and doing data pre-processing

In [4]:
# Import the file with dataset and read the first five rows to get the overview of the dataset
df = pd.read_csv("/Tweets.csv")
df.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]