<a href="https://colab.research.google.com/github/AlekseiMikhalev/Data-Science-Projects/blob/master/ULMFiT_Twitter%20Sentiment%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This notebook has been created for participation in Fellowship.ai challenge.

In [61]:
# Environment setup. Importing the libraries.
import re
from functools import partial
from collections import Counter
import string
import pandas as pd
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords 
stop_words = stopwords.words('english')
from fastai.text import *
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import pandas
from sklearn.model_selection import train_test_split
import numpy

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Importing dataset and doing data pre-processing

In [12]:
# Import the file with dataset and read the first five rows to get the overview of the dataset
tweet = pd.read_csv("/content/Tweets.csv")
tweet.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]

In [7]:
# Explore the number of each feature
tweet.count()

tweet_id                        14640
airline_sentiment               14640
airline_sentiment_confidence    14640
negativereason                   9178
negativereason_confidence       10522
airline                         14640
airline_sentiment_gold             40
name                            14640
negativereason_gold                32
retweet_count                   14640
text                            14640
tweet_coord                      1019
tweet_created                   14640
tweet_location                   9907
user_timezone                    9820
dtype: int64

We need to preprocess our dataset and transform it into the dataset which is appropriate for further use with ULMFiT. Our new dataset should contain label and text columns.

In [54]:
# Removing needless columns and create a new dataset 
needless_column = tweet[['tweet_id','airline_sentiment_gold','negativereason_gold','retweet_count','tweet_coord','tweet_location','user_timezone', 'name', 'tweet_created']]
new_tweet = tweet.drop(columns=needless_column)
new_tweet.head()

  airline_sentiment  ...                                               text
0           neutral  ...                @VirginAmerica What @dhepburn said.
1          positive  ...  @VirginAmerica plus you've added commercials t...
2           neutral  ...  @VirginAmerica I didn't today... Must mean I n...
3          negative  ...  @VirginAmerica it's really aggressive to blast...
4          negative  ...  @VirginAmerica and it's a really big bad thing...

[5 rows x 6 columns]

In [0]:
# Save new DataFrame into csv file for the fast.ai processing
new_tweet.to_csv(r'/content/new_tweet.csv')

In [57]:
# Clean the data for modelling 
# Retaining only alphabets and removing everything else
new_tweet['text'] = new_tweet['text'].str.replace("[^a-zA-Z]", " ")
new_tweet['text'].head()

0                   VirginAmerica What  dhepburn said
1     VirginAmerica plus you ve added commercials t...
2     VirginAmerica I didn t today    Must mean I n...
3     VirginAmerica it s really aggressive to blast...
4     VirginAmerica and it s a really big bad thing...
Name: text, dtype: object

In [63]:
# Now we are getting rid of the stopwords from the text data by using nltk package
# Tokenization 
tokenized_new_tweet = new_tweet['text'].apply(lambda x: x.split())

# Remove stop-words 
tokenized_new_tweet = tokenized_new_tweet.apply(lambda x: [item for item in x if item not in stop_words])

# De-tokenization 
detokenized_new_tweet = [] 
for i in range(len(new_tweet)): 
    t = ' '.join(tokenized_new_tweet[i]) 
    detokenized_new_tweet.append(t) 

new_tweet['text'] = detokenized_new_tweet
new_tweet.head()

  airline_sentiment  ...                                               text
0           neutral  ...                   VirginAmerica What dhepburn said
1          positive  ...  VirginAmerica plus added commercials experienc...
2           neutral  ...  VirginAmerica I today Must mean I need take an...
3          negative  ...  VirginAmerica really aggressive blast obnoxiou...
4          negative  ...                 VirginAmerica really big bad thing

[5 rows x 6 columns]

In [43]:
'''# Pre-processing data for modelling
# Language model data
data_lm = TextLMDataBunch.from_csv(path="/content/", csv_name='new_tweet.csv')
# Classifier model data
data_clas = TextClasDataBunch.from_csv(path="/content/", csv_name='new_tweets.csv', vocab=data_lm.train_ds.vocab, bs=32)'''

/usr/local/lib/python3.6/dist-packages/fastai/data_block.py:537: UserWarning: You are labelling your items with CategoryList.
Your valid set contained the following unknown labels, the corresponding items have been discarded.
3196, 4884, 4795, 12708, 358...
  if getattr(ds, 'warn', False): warn(ds.warn)

In [0]:
'''# split data into training and validation set
df_trn, df_val = train_test_split(df, stratify = df['label'], test_size = 0.4, random_state = 12)'''

In [0]:
'''df_trn.shape, df_val.shape'''

In [0]:
'''Before proceeding further, we’ll need to prepare our data for the language model and for the classification model separately. The good news? This can be done quite easily using the fastai library:

# Language model data
data_lm = TextLMDataBunch.from_df(train_df = df_trn, valid_df = df_val, path = "")

# Classifier model data
data_clas = TextClasDataBunch.from_df(path = "", train_df = df_trn, valid_df = df_val, vocab=data_lm.train_ds.vocab, bs=32)'''

In [0]:
'''Fine-Tuning the Pre-Trained Model and Making Predictions
We can use the data_lm object we created earlier to fine-tune a pre-trained language model. We can create a learner object, ‘learn’, that will directly create a model, download the pre-trained weights, and be ready for fine-tuning:

learn = language_model_learner(data_lm, pretrained_model=URLs.WT103, drop_mult=0.7)'''

In [0]:
'''We will save this encoder to use it for classification later.

learn.save_encoder('ft_enc')
Let’s now use the data_clas object we created earlier to build a classifier with our fine-tuned encoder.

learn = text_classifier_learner(data_clas, drop_mult=0.7)
learn.load_encoder('ft_enc')

We will again try to fit our model.

learn.fit_one_cycle(1, 1e-2)'''

In [0]:
'''Wow! We got a whopping increase in the accuracy and even the validation loss is far less than the training loss. It is a pretty outstanding performance on a small dataset. You can even get the predictions for the validation set out of the learner object by using the below code:

# get predictions
preds, targets = learn.get_preds()

predictions = np.argmax(preds, axis = 1)
pd.crosstab(predictions, targets)'''